/* ######################################## */
/* Done x Felipe Enmanuel Sandoval Sibada  */
/* ######################################## */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#map {
    width: 100%;
    height: 80vh;
    position: relative;
}
.country {
    cursor: pointer;
    stroke: #ffffff;
    stroke-width: 0.5;
    transition: fill 0.3s;
}
.red {
    fill: #de3c23;
}
.blue {
    fill: #0084bb;
}
.grey {
    fill: #cccbc6;
}
.white {
    fill: #979090;
}
.red:hover {
    fill: #c7341e;
}
.blue:hover {
    fill: #02648f;
}
.grey:hover {
    fill: #abaaa4;
}
.white:hover {
    fill: #797c7c;
}
#info-box {
    position: absolute;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    pointer-events: none;
}
